/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  /* Estilos para a imagem do cachorro */
  img.cachorro {
    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para a tabela de informações */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para os links */
  a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #003399;
    text-decoration: underline;
  }
  
  /* Estilos para a página de links relevantes */
  .links {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .links h1 {
    margin-top: 0;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .links a:hover {
    color: #003399;
    text-decoration: underline;
  }
  
  .links span {
    font-weight: bold;
    color: #333;
  }
  
  .links p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }