/* Reset some styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Style the body */
  body {
    font-family: Arial, sans-serif;
    background-color: cyan;

  }
  
  /* Style the header */
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;

  }
  
  header img {
    width: 200px;
  }
  
  .title {
    color: #fff;
    font-size: 2.5em;
  }
  
  /* Style the navigation */
  nav {
    background-color: cyan;
    padding: 10px;
    justify-content: center;
    display: flex;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;

  }
  
  /* Style the main content */
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  main h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  main ol {
    list-style-position: inside;
    margin-bottom: 20px;
  }
  
  main a {
    color: #333;
    text-decoration: none;
  }
  
  main a:hover {
    text-decoration: underline;
  }
  

  .button {
    display:inline;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: white ;
    border-color: #ccc;
    font-weight: bold;
  }
  
  .button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .button:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0,.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0,.125);
  }

  footer {
    background-color: cyan;
    color: black; /* cor amarela */
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }